<h1>Jobs</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>User</th>
            <th>Date Post</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td><%= job.title %></td>
            <td><%= job.description %></td>
            <td><%= job.user.userHandle %></td>
            <td><%= job.created_at.strftime("%d/%m/%Y") %></td>
            <td>
                <%= link_to 'Show', job, class: "btn btn-info"  %>
                <% if current_user == job.user %> |
                    <%= link_to 'Edit', edit_job_path(job), class: "btn btn-success"  %> |
                    <%= link_to 'Destroy', job, class: "btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' }%>
                <% end %>
            </td>

        </tr>
        <% end %>
    </tbody>
</table>

<br>


<%= link_to 'New Job', new_job_path, class: "btn btn-primary" %>
<%= link_to 'Home', root_path, class: "btn btn-info" %>