<p>
    <strong>Title:</strong>
    <%= @job.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @job.description %>
</p>

<p>
    <strong>User:</strong>
    <%= @job.user.userHandle %>
</p>

<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_job_path(@job) %>
<% end %>

<%= link_to 'Back', jobs_path %>